@media only screen and (max-width: 600px) {
  body {
    font-family: graphik;
    font-size: 16px;
    overflow-x: hidden;
  }

  /* nav */
  .nav-crocus {
    padding: 30px 0px 0px 0px;
  }
  .nav-tech {
    padding: 0px 0px 0px 2px;
  }
  .nav-works {
    display: none;
  }
  section#top {
    padding: 0px 0 0 9px;
  }
  .home-title {
    font-size: 49px;
    line-height: 76px;
    margin-top: 15vh;
  }
  .link-div {
    margin-top: 12vh;
  }

  /* carousel */
  .slick-list {
    padding: 0px !important;
    overflow-x: hidden;
  }
  .slick-track {
    width: 1500px !important;
  }
  .slick-slide.slick-active.slick-center.slick-current {
    width: 360px !important;
  }
  .slick-slide.slick-active.slick-center.slick-current .carousel-div {
    padding: 12px;
  }
  .carousel-img {
    margin-bottom: 35px;
  }
  .service-title {
    font-size: 40px;
  }

  /* mission */
  .mission-div {
    padding: 63vh 9px 0 15px;
    color: #eee;
    height: 100vh;
  }
  .mission-div h2 {
    font-size: 40px;
  }

  /* footer */
  .footer-div-top {
    padding: 23vh 15px;
  }
  .footer-div-top h1 {
    font-size: 35px;
    line-height: 49px;
  }
  .footer-div-bottom {
    padding: 0 15px;
  }
}
