@font-face {
  font-family: "graphik";
  src: url(/src/assets/font/GraphikLight.otf) format("opentype");
}

@font-face {
  font-family: "graphik-reg";
  src: url(/src/assets/font/GraphikRegular.otf) format("opentype");
}

/* app.css */

/* .App {
  overflow: hidden;
} */

body {
  font-family: graphik;
  overflow-x: hidden;
}

::selection {
  color: transparent;
  text-shadow: 0px 0px 5px #000;
  font-size: 50px;
}
