.development {
  background-color: #2a9d9025;
  padding: 0px 30px;
  height: 33.3vh;
}

.designing {
  background-color: #3df15525;
  padding: 0px 30px;
  height: 33.3vh;
}

.marketing {
  background-color: #ebee2625;
  padding: 0px 30px;
  height: 33.3vh;
}