@font-face {
  font-family: "graphik";
  src: url(/src/assets/font/GraphikLight.otf) format("opentype");
}

@font-face {
  font-family: "graphik-light";
  src: url(/src/assets/font/GraphikExtralight.otf) format("opentype");
}

@font-face {
  font-family: "graphik-reg";
  src: url(/src/assets/font/GraphikRegular.otf) format("opentype");
}

/* app.css */

/* .App {
  overflow: hidden;
} */

body {
  font-family: graphik;
  font-size: 20px;
  overflow-x: hidden;
}

::selection {
  color: transparent;
  text-shadow: 0px 0px 5px #000;
  font-size: 50px;
}

.link-button,
a {
  /* font-weight: 300; */
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding-top: 12px;
}

.link-button:hover,
.link-button:focus,
a:hover,
a:focus {
  color: #5e5e5e;
  text-decoration: none;
}

.link-button::before {
  content: "<";
}
.link-button:hover::before {
  content: "</";
}
.link-button::after {
  content: ">";
}

.font-bold {
  font-family: graphik-reg;
  font-weight: 900;
}


/* Cursor */

.cursor {
  /* background-color: #ffffff !important; */
  mix-blend-mode: difference;
  border: #ffffff 1px solid;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 200;
  /* text of the cursor */
  color: #ccc;
  font-weight: 900;
}

* {
  cursor: none;
}
