/* .horizontal-scroll {
  overflow-x: scroll;
  width: 500px;
  white-space: nowrap;
} */

/* .carousel-div {
  color: rgba(0, 0, 0, 0.301);
  margin: 15px;
  margin-top: 10vh;
}
.slick-slide.slick-active.slick-center.slick-current .carousel-div .carousel-img {
  opacity: 1;
  height: 55vh;
}

.carousel-div .carousel-img {
  opacity: 0.5;
  height: 40vh;
}
.slick-slide.slick-active.slick-center.slick-current .carousel-div {
  color: rgb(0, 0, 0);
  padding: 20px;
  margin-top: 0vh;
} */

/* .custom-cursor{
  padding: 20px;
} */