/* ------------ HOME ------------ */

.home-title {
  font-family: "graphik-light";
  font-size: 78px;
  line-height: 100px;
  display: table;
  margin: auto;
  margin-top: 25vh;
}

.link-div {
  margin-top: 16vh;
  /* text-align: center; */
}

#services {
  margin-top: 120px;
  /* margin-bottom: 100px; */
  min-height: 100vh;
}

